/node_modules
/public/hot
/public/storage
/public/phpmetrics
/storage/*.key
/storage/*.txt
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
*.pid
.phpstorm.meta.php
.idea
/storage/framework/xero.json
